In [1]:
# UserInfoEDA.ipynb
# Exploratory Data Analysis on the users who wrote reviews in our dataset.
# Written for NYCDSA Bootcamp 7, Capstone Project by LC, 2016-12-14.


import pandas as pd
import numpy as np

In [2]:
user_info = pd.read_csv('user_info_rating_proc.csv', index_col=None)

In [3]:
user_info.head(10)

,user_name,user_date,state,beer_name,overall,taste,aroma,appearance,palate,user_rating
0,tom10101,2015-07-31,Alabama,Avondale Barrel Aged Brett Saison,15,7,8,3,4,3.7
1,JulienHuxley,2015-07-24,Alabama,Avondale Barrel Aged Brett Saison,15,8,8,3,4,3.8
2,djd07,2015-02-26,Alabama,Avondale Barrel Aged Brett Saison,16,6,7,3,4,3.6
3,Justosj76,2014-12-28,Alabama,Avondale Barrel Aged Brett Saison,17,8,9,5,4,4.3
4,Westmeister,2014-08-13,Alabama,Avondale Barrel Aged Brett Saison,17,9,8,3,4,4.1
5,Freethehopspc,NaN,Alabama,Avondale Barrel Aged Brett Saison,20,10,10,5,5,5.0
6,Nero55,2013-10-27,Alabama,Avondale Barrel Aged Brett Saison,17,8,7,4,4,4.0
7,Malaclemys,2013-10-26,Alabama,Avondale Barrel Aged Brett Saison,18,9,8,4,5,4.4
8,coolpop,2013-10-13,Alabama,Avondale Barrel Aged Brett Saison,15,8,8,4,3,3.8
9,dnstone,2013-06-12,Alabama,Avondale Barrel Aged Brett Saison,18,9,9,3,5,4.4

In [36]:
pd.isnull(user_info).sum()

user_name         0
user_date      6759
state             0
beer_name         0
overall           0
taste             0
aroma             0
appearance        0
palate            0
user_rating       0
dtype: int64

In [61]:
user_info.describe(include= ['O'])

       user_name   user_date     state                            beer_name
count     276693      269934    276693                               276693
unique     16922        5591        51                                 1269
top       Travlr  2016-05-14  Delaware  Dogfish Head 90 Minute Imperial IPA
freq         720         242     27705                                 4598

In [63]:
n_reviews = user_info.user_name.value_counts()
n_reviews

Travlr            720
jtclockwork       630
djd07             602
daknole           541
bytemesis         523
phaleslu          512
hopscotch         481
vtafro            476
Drake             453
brokensail        452
alexsdad06        443
mcberko           426
Ernesto987        422
RobertDale        421
GT                419
Beerman6686       418
Leighton          417
adnielsen         416
drfabulous        412
BeerandBlues2     411
arminjewell       410
rxeight           404
yespr             404
deyholla          402
Huhzubendah       402
hopdog            399
50belair          398
Ratman197         393
BuckeyeBoy        387
jkwood04          385
                 ...
fireraven           1
bergaa88            1
cwebb619            1
smallfry            1
pbsmooth            1
RabbleRouseRye      1
BeerJonNow          1
Hookemwahoo         1
Skii617             1
celsopoliti         1
RaiderN8tion        1
gambeerer           1
solifugid           1
gioni               1
maddogorlando       1
irvineb             1
larsogr             1
PiwnyMarek          1
dsc123              1
rdukegonz           1
MoorFiend           1
wikkiewikkie        1
klumberg            1
netdogca            1
TheKing             1
jbrumley777         1
annahawk            1
werberski           1
SethInOmaha         1
Macanudo            1
Name: user_name, dtype: int64

In [62]:
print user_info.user_date.dropna().min()
print user_info.user_date.max()

2000-04-26
2016-12-04

In [64]:
print user_info.shape[0] / user_info.user_name.nunique()

16

In [21]:
print n_reviews.tolist().count(1) + n_reviews.tolist().count(2)

8917

In [66]:
user_info.state.value_counts()

Delaware          27705
California        20928
Michigan          20727
Colorado          19680
Indiana           13932
New York          12996
Wisconsin          9322
Oregon             8855
Alaska             8525
Maryland           8279
Ohio               8202
Illinois           7873
Pennsylvania       7519
Maine              6707
Utah               6179
Minnesota          6143
Oklahoma           5825
Vermont            5557
New Hampshire      4949
North Carolina     4339
Florida            4299
Hawaii             4260
Georgia            3964
Washington         3450
Massachusetts      3370
Idaho              3049
South Carolina     2880
Missouri           2828
Iowa               2743
Montana            2619
Kentucky           2295
Connecticut        2235
Kansas             2195
Nebraska           2076
New Mexico         1940
Texas              1925
New Jersey         1754
Virginia           1740
Tennessee          1341
Wyoming            1304
Mississippi        1227
Nevada             1158
Washington DC      1135
Louisiana          1126
Alabama            1055
Arizona             972
Arkansas            821
Rhode Island        766
North Dakota        664
South Dakota        663
West Virginia       597
Name: state, dtype: int64

In [65]:
user_info.state.value_counts().describe()

count       51.000000
mean      5425.352941
std       5945.827538
min        597.000000
25%       1540.500000
50%       3049.000000
75%       7113.000000
max      27705.000000
Name: state, dtype: float64

In [42]:
user_info.beer_name.value_counts()

Dogfish Head 90 Minute Imperial IPA                         4598
Bell۪s Two Hearted Ale                                      3673
Dogfish Head 60 Minute IPA                                  3475
Founders Breakfast Stout                                    3412
Brooklyn Black Chocolate Stout                              3384
Stone Imperial Russian Stout                                3150
Bell۪s Expedition Stout                                     3102
Victory Storm King Imperial Stout                           3064
AleSmith Speedway Stout                                     2843
Bell۪s Hopslam                                              2835
Russian River Pliny the Elder                               2820
Goose Island Bourbon County Stout                           2802
Great Divide Yeti Imperial Stout                            2633
Flying Dog Gonzo Imperial Porter                            2559
Dogfish Head 120 Minute IPA                                 2545
Great Divide Hercules Double IPA                            2542
Dogfish Head Indian Brown Ale                               2483
Oskar Blues Ten FIDY                                        2410
Founders KBS (Kentucky Breakfast Stout)                     2386
Great Divide Yeti Imperial Stout - Oak Aged                 2329
Three Floyds Alpha King                                     2318
Dogfish Head World Wide Stout 2001/2003-Present (18%)       2202
Three Floyds Dreadnaught Imperial IPA                       2148
Dogfish Head Palo Santo Marron                              2125
Founders Imperial Stout                                     2082
Avery The Maharaja Imperial India Pale Ale                  2075
Dogfish Head Burton Baton                                   1983
Three Floyds Dark Lord Russian Imperial Stout               1818
Hair of the Dog Adam                                        1792
Flying Dog Double Dog Double Pale Ale                       1757
                                                            ...
SPB Cicada Series Hipster Breakfast                            9
Bluejacket P.X. Sherry Barrel-Aged High Society 2016           9
Great Basin Scytale 385                                        9
Greenbrier Valley Wild & Wonderful Series #2: Hefeweizen       9
SPB Lazarus                                                    9
Vinos Octoberfest                                              9
Kauai Island Captain Cook۪s IPA                                9
Sick N Twisted Hop On Top IPA                                  9
Mountain Dragon Tulip Poplar Honey Mead                        9
Parish Opus Vert                                               9
Proclamation Derivative Mosaic Hopped Pale Ale                 9
Great Basin Hop Head Ale                                       9
La Cumbre Acclimated IPA                                       9
NOLA Girl Stout Cookie                                         9
Nebraska Inception Series Franc Blanc                          9
Melovino Southern Berry                                        9
Fossil Cove La Brea Brown                                      9
Melvin Brosaic                                                 9
Crow Peak Redwater Ale                                         8
Firehouse Honey Rye Porter                                     7
Dempseys Valkyrie Red                                          7
Firehouse Brewers Golden                                       6
Fargo Mighty Red                                               6
Laughing Sun Cosmic Owl Belgian Pale Ale                       6
Firehouse Prodigy Porter                                       6
Firehouse Strong Arm Porter                                    6
Dempseys Longship Lager                                        6
Fargo Super Green                                              5
Crow Peak Easy Livin۪ Summer Ale                               5
Crow Peak Roughlocktoberfest                                   5
Name: beer_name, dtype: int64

In [68]:
user_info.describe().round(2)

         overall      taste      aroma  appearance     palate  user_rating
count  276693.00  276693.00  276693.00   276693.00  276693.00    276693.00
mean       16.17       7.91       7.85        4.00       3.94         3.99
std         2.03       1.12       1.10        0.68       0.70         0.44
min         1.00       1.00       1.00        1.00       1.00         0.50
25%        15.00       7.00       7.00        4.00       4.00         3.80
50%        16.00       8.00       8.00        4.00       4.00         4.00
75%        17.00       9.00       8.00        4.00       4.00         4.30
max        20.00      10.00      10.00        5.00       5.00         5.00